body {
    background: deepskyblue;
    padding: 50px 100px;
}

h1 {
    text-align: center;
    background-color: #0c4e8d;
    color: #fff;
    padding: 10px;
    margin: 0;
}

#textbox {
    margin-top: 5px;
    width: 99.5%;
    border-color: #0c4e8d;
    font-size: 15px;
}

p {
    text-align: center;
    background-color: #0c4e8d;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    margin: 0px;
}